[submodule "public/static/images/media"]
	path = public/static/images/media
	url = git@github.com:cdransf/social-utils-media.git
[submodule "src/scripts"]
	path = src/scripts
	url = git@github.com:cdransf/social-utils-scripts.git
[submodule "src/styles"]
	path = src/styles
	url = git@github.com:cdransf/social-utils-styles.git
[submodule "public/static/images/assets"]
	path = public/static/images/assets
	url = git@github.com:cdransf/social-utils-image-assets.git
