@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Fira Sans"),
    url("https://utils.coryd.dev/static/fonts/fira-sans/FiraSans-Regular.woff")
      format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-style: oblique;
  font-weight: normal;
  font-display: swap;
  src: local("Fira Sans"),
    url("https://utils.coryd.dev/static/fonts/fira-sans/FiraSans-Italic.woff")
      format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local("Fira Sans"),
    url("https://utils.coryd.dev/static/fonts/fira-sans/FiraSans-Bold.woff")
      format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-style: oblique;
  font-weight: bold;
  font-display: swap;
  src: local("Fira Sans"),
    url("https://utils.coryd.dev/static/fonts/fira-sans/FiraSans-BoldItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Fira Code"),
    url("https://utils.coryd.dev/static/fonts/fira-code/FiraCode-Regular.woff")
      format("woff");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local("Fira Code"),
    url("https://utils.coryd.dev/static/fonts/fira-code/FiraCode-Bold.woff")
      format("woff");
}
